.container {
  text-align: center;
}

.processes-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.process {
  background-color: lightblue;
  border: 1px solid gray;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.process-name {
  font-weight: bold;
}

.process-time {
  font-size: 14px;
}

.completed {
  background-color: lightgreen;
}

.current {
  background-color: yellow;
}